doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Dashboard

    // Styles and Scripts
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/script.js")

  body
    block content